@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div style="height: 523px;" class="no-border col-lg-3 col-md-3 col-sm-4 col-xs-12">
        @Html.Partial("BuyItItem", false)
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img class="buyit-image" src="../../Content/Images/socket_370.png" />
            </div>
            <div class="buyit-margin col-lg-9 col-md-9 col-sm-8 col-xs-6">
                <p class="buyit-font-title">
                    <strong style="font-weight: normal;">
                        <em style="font-style: normal;">Plates A</em>
                    </strong>
                </p>
                <p class="buyit-font-content">
                    <span>SOCKET 370</span>
                </p>
                <p class="buyit-font-price">
                    <strong style="font-weight: normal;">
                        <em style="font-style: italic;">Līdz 4.50 EUR / kg</em>
                    </strong>
                </p>            
            </div>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img class="buyit-image" src="../../Content/Images/a1.png" />
            </div>
            <div class="buyit-margin col-lg-9 col-md-9 col-sm-8 col-xs-6">
                <p class="buyit-font-title">
                    <strong style="font-weight: normal;">
                        <em style="font-style: normal;">Datorplates A1 klase</em>
                    </strong>
                </p>
                <p class="buyit-font-content">
                    <span>Pēc SOCKET 370</span>
                </p>
                <p class="buyit-font-price">
                    <strong style="font-weight: normal;">
                        <em style="font-style: italic;">līdz 2.70 EUR / kg</em>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img class="buyit-image" src="../../Content/Images/tehnika3klass.png" />
            </div>
            <div class="buyit-margin col-lg-9 col-md-9 col-sm-8 col-xs-6">
                <p class="buyit-font-title">
                    <strong style="font-weight: normal;">
                        <em style="font-style: normal;">Sadzīves tehnika III klase</em>
                    </strong>
                </p>
                <p class="buyit-font-content">
                    <span>Sadzīves tehnika</span>
                </p>
                <p class="buyit-font-price">
                    <strong style="font-weight: normal;">
                        <em style="font-style: italic;">līdz 0.60 EUR / kg</em>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img class="buyit-image" src="../../Content/Images/ram.png" />
            </div>
            <div class="buyit-margin col-lg-9 col-md-9 col-sm-8 col-xs-6">
                <p class="buyit-font-title">
                    <strong style="font-weight: normal;">
                        <em style="font-style: normal;">RAM</em>
                    </strong>
                </p>
                <p class="buyit-font-content">
                    <span></span>
                </p>
                <p class="buyit-font-price">
                    <strong style="font-weight: normal;">
                        <em style="font-style: italic;">līdz 18.00 EUR / kg</em>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img class="buyit-image" src="../../Content/Images/platesB.png" />
            </div>
            <div class="buyit-margin col-lg-9 col-md-9 col-sm-8 col-xs-6">
                <p class="buyit-font-title">
                    <strong style="font-weight: normal;">
                        <em style="font-style: normal;">Plates B</em>
                    </strong>
                </p>
                <p class="buyit-font-content">
                    <span></span>
                </p>
                <p class="buyit-font-price">
                    <strong style="font-weight: normal;">
                        <em style="font-style: italic;">līdz 1.00 EUR / kg</em>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
