@model bool

<div class="row partial-item-div" style="background: url(../../Content/Images/image_part_003.png)">
    <div class="main-menu-button">
        <a href="@Url.Action("BuyIt", "Home")" class="link-wo_underline @(Model ? "" : "disabled-link")">
            <div class="menu-image col-sm-4 col-xs-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3.773584905660371 -3.773584905660371 207.54716981132074 207.54716981132074" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 7px; width: 55px; height: 55px;">
                    <g>
                        <path d="M100 0C44.8 0 0 44.8 0 100s44.8 100 100 100 100-44.8 100-100S155.2 0 100 0zm30.2 144.7c-6.2 2.7-12.8 4.4-19.5 4.4-21.5 0-39.8-14-46.2-33h-15c-2 0-3.6-2-3.6-4s1.6-4 3.6-4h13.2c-.4-1-.7-5-.7-7.8 0-1.5.1-1.2.2-4.2H49.5c-2 0-3.6-2-3.6-4s1.6-4 3.6-4h13.9c5.2-20 24.4-36.8 47.2-36.8 6.7 0 13.2 1.5 19.5 4.2 1.8.8 2.6 2.9 1.9 4.7-.8 1.8-2.9 2.6-4.7 1.8-5.3-2.3-10.9-3.6-16.6-3.6C91.9 58.4 76 71 70.9 88h32.5c2 0 3.6 2 3.6 4s-1.6 4-3.6 4h-34c-.2 3-.2 2.7-.2 4.2 0 2.7.3 6.8.8 7.8h33.4c2 0 3.6 2 3.6 4s-1.6 4-3.6 4H72.2c6.1 15 21 25.9 38.5 25.9 5.7 0 11.3-1.5 16.6-3.8 1.8-.8 3.9 0 4.7 1.8.8 1.8 0 4-1.8 4.8z"></path>
                    </g>
                </svg>
            </div>
            <div class="main-menu-text col-sm-8 col-xs-8">
                <span>Ieperkam</span>
            </div>
        </a>
    </div>
</div>

