@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row center-block" style="width: 920px;">
    <div style="background-image: url(/Content/Images/background.png); height: 523px" class="no-border col-sm-3">
        @Html.Partial("DisposalItem", false)
    </div>
    <div class="col-sm-9 break-word">
        <p class="partial-font">Sadarbībā ar pārstrādes partneriem nodrošinam visa veida elektrisko un elektronisko iekārtu savākšanu un bezmaksas pārstrādi atbilstoši vides prasībām, par ko tiek noformēti pieņemšanas-nodošanas akti.</p>
        <p class="partial-font">&nbsp;</p>
        <p class="partial-font">Iegādājoties jaunu sadzīves un elektrotehniku, parastā problēma ir, kur nodot veco, savu mūžu nokalpojušo, tāpēc uzņēmums piedāvā uzņēmumiem nodot videi kaitīgo atkritumu savākšana punktā savu laiku nokalpojušus:&nbsp;datorus, monitorus, printerus, faksus, skenerus, fotoaparātus, televizorus, ledusskapjus, mikroviļņu krāsnis, tējkannas, veļas mašīna, kafijas automātus, gludekļus, urbjus, pļaujmašīnas un citas iekārtas, kuras tiek darbinātas no elektrotīkla vai baterijām un akumulatoriem&nbsp;kurus janodod utilizācijai.​</p>
        <p class="partial-font">&nbsp;</p>
        <p class="partial-font">Nolietotās elektronikas izvešana</p>
        <p class="partial-font">﻿</p>
        <p class="partial-font">﻿Zvanot pa tālruni&nbsp;29511110, iespējams vienoties par vietu un laiku, kur ierasties transportam, lai nolietotās elektropreces tiktu savāktas to tālākai nogādāšanai uz otrreizējo pārstrādi.</p>
        <p class="partial-font">﻿</p>
        <p class="partial-font">Izpildot šādu pakalpojumu klientam tiks izsniegts Pieņemšanas – nodošanas akts, kas apliecina to savākšanu un nodošanu otrreizējai pārstrādei atbilstoši spēkā esošajai likumdošanai.</p>
        <p class="partial-font">​</p>
        <p class="partial-font">﻿Saskaņā ar LR likumdošanu bīstamos atkritumus jānodala no citu veidu atkritumiem, jāuzglabā tā, lai tie neapdraudētu vidi, cilvēku dzīvību un veselību, jānogādā speciāli aprīkotās bīstamo atkritumu savākšanas vietās vai jānodod uzņēmumiem, kuri veic bīstamo atkritumu savākšanu un pārstrādi un ir saņēmuši atļauju veikt to apsaimniekošanu.</p>
        <p class="partial-font">​</p>
        <p class="partial-font">Uzņēmums&nbsp;pilnībā uzņemas iekraušanu un transportēšanu, tāpat uzņemas atbildību par drošību un utilizāciju atbilstoši normatīvajiem aktiem.</p>
    </div>
</div>
<div class="row center-block" style="width: 920px; margin-top: 50px;">
    <div class="col-sm-3">
        <h5 class="title-font">Sadarbības līgums</h5>
    </div>
    <div class="col-sm-9 break-word" style="margin-top: 50px;">
        <p class="partial-font">Piedāvājam noslēgt tiešu sadarbības līgumu ar iestādēm un uzņēmumiem, kas sniedz virkni priekšrocību un pēc kura nosacījumiem lielākā daļa pakalpojumu&nbsp;tiek sniegti bez maksas.&nbsp;</p>
        <p class="partial-font">​</p>
        <p class="partial-font">Sadarbībā ar pārstrādes partneriem nodrošina visa veida elektrisko un elektronisko iekārtu savākšanu un bezmaksas pārstrādi atbilstoši vides prasībām, par ko tiek noformēti pieņemšanas-nodošanas akti.</p>
        <p class="partial-font">​</p>
        <p class="partial-font">Savākšanu nodrošinām ar savu transportu. Tāpat uzņemas atbildību par drošību un utilizāciju atbilstoši normatīvajiem aktiem.</p>
        <p class="partial-font">​</p>
        <p class="partial-font">Līgums var paredzēt regulāru EEIA savākšanu, savākšanu pēc pieprasījuma, vai arī vienreizēju pakalpojumu.&nbsp;</p>
        <p class="partial-font">​</p>
        <p class="partial-font">EEIA apsaimniekošanas pakalpojums paredz:</p>
        <p class="partial-font">
            • uz klienta vajadzībām orientētu pakalpojuma modeļa izveidi<br> 
            • EEIA savākšanu, nodrošinot transportu un krāvēju pakalpojumu<br>
            • apsaimniekošanu un pārstrādi atbilstoši likumdošanā noteiktajām prasībām<br>
            • dokumentācijas un aktu sagatavošanu atbildīgajām institūcijām un klientiem pēc pieprasījuma.
        </p>
        <p class="partial-font">​</p>
        <p class="partial-font">Saskaņā ar Atkritumu apsaimniekošanas likuma 5. pantu elektroprece ir iekārta, kas tiek darbināta ar elektrisko strāvu vai elektromagnētisko lauku, t. i., ar baterijām vai akumulatoriem. Visas elektropreces ir īpaši kaitīgas videi, tās ir jānodod vietās, kas ir paredzētas elektropreču un videi kaitīgo preču pieņemšanai.</p>
        <p class="partial-font">﻿</p>
        <p class="partial-font">﻿Sīkākai informācijai sazinieties&nbsp; pa tālruni 28807055.</p>
    </div>
</div>
