@model bool

<div class="row partial-item-div" style="background-image: url(/Content/Images/background.png); background-position-x: 75%">
    <div class="main-menu-button">
        <a href="@Url.Action("Helpful", "Home")" class="link-wo_underline @(Model ? "" : "disabled-link")">
            <div class="menu-image col-sm-4">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="322.5056725268094 202.2001763109891 194.5806654444281 194.5806654444281" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 7px; width: 55px; height: 55px;">
                    <g>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="328.129" y1="297.404" x2="352.037" y2="297.404"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="487.553" y1="297.404" x2="511.463" y2="297.404"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="419.795" y1="205.738" x2="419.795" y2="229.646"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="354.977" y1="232.587" x2="371.918" y2="249.459"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="484.613" y1="232.587" x2="467.672" y2="249.459"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="404.129" y1="371.909" x2="435.463" y2="371.909"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="401.463" y1="382.575" x2="438.129" y2="382.575"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="410.588" y1="393.243" x2="429.004" y2="393.243"></line>
                        <path stroke-miterlimit="10" d="M419.796,247.575c-25.588,0-46.332,20.744-46.332,46.333c0,11.063,3.883,21.215,10.352,29.182c4.021,6.275,9.648,16.581,9.648,25.152v3c0,4.971,4.029,8.999,9,8.999h17.332h17.332c4.971,0,9-4.028,9-8.999v-3c0-8.571,5.627-18.877,9.648-25.152c6.469-7.967,10.352-18.119,10.352-29.182C466.128,268.319,445.384,247.575,419.796,247.575z"></path>
                    </g>
                </svg>
            </div>
            <div class="main-menu-text col-sm-8">
                <span>Noderīgi</span>
            </div>
        </a>
    </div>
</div>


