@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div style="height: 523px;" class="no-border col-lg-3 col-md-3 col-sm-4 col-xs-12">
        @Html.Partial("HelpfulItem", false)
    </div>
    <div class="text-center col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">
            <div class="col-sm-12">
                <p class="partial-font">Videi kai(go preču un EEIA savākšanas vietu saraksts:</p>
            </div>
            <div class="col-sm-12" style="margin-top: 20px">
                <a href="~/Content/nordic.pdf" target="_blank" data-type="document">
                    <span class="hidden">laukumu saraksts.pdf</span>
                    <img src="~/Content/Images/pdf.png" style="width: 100%; max-width: 100px" />
                </a>
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Metāllūžņu iepirkumu cenas:</p>
            </div>
            <div class="col-sm-12" style="padding-top: 30px">
                <a href="http://www.cermet.lv/" target="_blank" data-type="document">
                    <img src="~/Content/Images/cermet.png" style="width: 100%; max-width: 239px" />
                </a>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Nolietotu auto katalizatoru iepirkšana un pārstrāde:</p>
            </div>
            <div class="col-sm-12" style="padding-top: 30px">
                <a href="http://www.katalizator.lv" target="_blank" data-type="document">
                    <img src="~/Content/Images/katalizator.png" style="width: 100%; max-width: 416px" />
                </a>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Videi kaitīgu preču atkritumu apsaimniekotājs:</p>
            </div>
            <div class="col-sm-12" style="padding-top: 30px">
                <a href="http://www.lze.lv" target="_blank" data-type="document">
                    <img src="~/Content/Images/nording_recycling.png" style="width: 100%; max-width: 285px" />
                </a>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Atkritumu apsaimniekošana:</p>
            </div>
            <div style="padding-top: 30px">
                <a href="http://www.reclat.lv" target="_blank" data-type="document">
                    <img src="~/Content/Images/reclat.png" style="width: 100%; max-width: 295px" />
                </a>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Videi kaitīgo preču atkritumu apsaimniekošanas koordinātors:</p>
            </div>
            <div class="col-sm-12" style="padding-top: 30px">
                <a href="http://www.zc.lv" target="_blank" data-type="document">
                    <img src="~/Content/Images/zc.png" style="width: 100%; max-width: 160px" />
                </a>
            </div>
        </div>
    </div>
</div>
