@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row center-block" style="width: 920px;">
    <div style="background-image: url(/Content/Images/background.png); height: 523px; background-position-x: 75%" class="no-border col-sm-3">
        @Html.Partial("HelpfulItem", false)
    </div>
    <div class="col-sm-9 break-word center-block">
        <div class="row">
            <div class="col-sm-12">
                <p class="partial-font">Videi kai(go preču un EEIA savākšanas vietu saraksts:</p>
            </div>
            <div class="col-sm-12" style="padding-left: 170px;">
                <a href="~/Content/nordic.pdf" target="_blank" data-type="document">
                    <span class="hidden">laukumu saraksts.pdf</span>
                    <img style="width: 80px; height: 135px; object-fit: contain;" src="~/Content/Images/pdf.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="partial-font">Metāllūžņu iepirkumu cenas:</p>
            </div>
            <div class="col-sm-12" style="padding-left: 120px; padding-top: 30px">
                <a href="http://www.cermet.lv/" target="_blank" data-type="document">
                    <img style="width: 191px; height: 64px; object-fit: contain;" src="~/Content/Images/cermet.png" />
                </a>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Nolietotu auto katalizatoru iepirkšana un pārstrāde:</p>
            </div>
            <div class="col-sm-12" style="padding-left: 10px; padding-top: 30px">
                <a href="http://www.katalizator.lv" target="_blank" data-type="document">
                    <img src="~/Content/Images/katalizator.png" />
                </a>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Videi kaitīgu preču atkritumu apsaimniekotājs:</p>
            </div>
            <div class="col-sm-12" style="padding-left: 80px; padding-top: 30px">
                <a href="http://www.lze.lv" target="_blank" data-type="document">
                    <img src="~/Content/Images/nording_recycling.png" />
                </a>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Atkritumu apsaimniekošana:</p>
            </div>
            <div class="col-sm-12" style="padding-left: 75px; padding-top: 30px">
                <a href="http://www.reclat.lv" target="_blank" data-type="document">
                    <img src="~/Content/Images/reclat.png" />
                </a>
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-sm-12">
                <p class="partial-font">Videi kaitīgo preču atkritumu apsaimniekošanas koordinātors:</p>
            </div>
            <div class="col-sm-12" style="padding-left: 160px; padding-top: 30px">
                <a href="http://www.zc.lv" target="_blank" data-type="document">
                    <img src="~/Content/Images/zc.png" />
                </a>
            </div>
        </div>
    </div>
</div>
