@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row center-block" style="width: 920px;">
    <div class="row">
        <div class="col-sm-12" style="border-bottom: 1px solid silver; height: 50px">
            <span class="font-h2">KONTAKTI</span>
        </div>
        <div class="col-sm-12" style="padding-top: 10px;">
            <div class="static-text-container">
                <img src="/Content/Images/kontakti.png" style="width: 45%" />
                <div class="static-text-centered">
                    <span class="static-text">Iekrājās nolietotas elektropreces? Sazinies ar mums!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="padding-top: 20px;">
                <p class="green-font" style="padding-left: 85px;" dir="ltr">
                    <span>Tel: +371 2951110</span>
                </p>
                <p class="green-font" style="padding-left: 85px;" dir="ltr">
                    <span>Tel: +371 28807055</span>
                </p>
                <div style="padding-top: 20px; border-top: 1px solid #45ba01; margin-top: 20px;">
                    <p class="green-font" style="padding-left: 65px" dir="ltr">
                        <span>SIA Recycle Latgale</span>
                    </p>
                    <p class="green-font" dir="ltr">
                        <span>
                            <a style="color: inherit; text-decoration: none; padding-left: 65px" data-auto-recognition="true" data-content="recyclelatgale@gmail.com" href="mailto:recyclelatgale@gmail.com" data-type="mail">recyclelatgale@gmail.com</a>
                        </span>
                    </p>
                    <hr style="border: none; margin-top: 0px" />
                    <p class="green-font" dir="ltr">
                        <span style="padding-left: 110px;">Darba laiks:</span>
                    </p>
                    <p class="green-font" dir="ltr">
                        <span style="padding-left: 100px;">I 10:00-19:00</span>
                    </p>
                    <p class="green-font" dir="ltr">
                        <span style="padding-left: 100px;">II-V 8:00-16:00</span>
                    </p>
                    <p class="green-font" dir="ltr">
                        <span style="padding-left: 100px;">VI 10-14:00</span>
                    </p>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="row center-block" style="padding-top: 20px">
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2176.9533217198077!2d24.28559701578658!3d56.93246660785979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecd0c9771d3ff%3A0x13ba6a92515d410a!2sAcones+iela+9%2C+Ulbroka%2C+Stopi%C5%86u+novads%2C+LV-2130!5e0!3m2!1sru!2slv!4v1508158033719" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.788059581368!2d26.523964215746453!3d55.86634349069704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c295bfcc0cbf03%3A0x212f8ec8812be140!2s18.+novembra+iela+18%2C+Daugavpils%2C+LV-5401!5e0!3m2!1sru!2slv!4v1508156779078" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>            </div>
        </div>
    </div>
</div>
