@model Reclat.MVC.Models.PictureModel 
    
<div class="image-container">
    <img src="/Content/Images/@Model.Url" alt="@Model.Text" class="image" style="width: 100%" />
    <div class="middle">
        <div class="text">@Model.Text</div>
    </div>
</div>

