@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="height: 523px;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="height: 100%">
        @Html.Partial("DisposalItem", true)
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="height: 100%">
        @Html.Partial("RecyclingItem", true)
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="height: 100%">
        @Html.Partial("BuyItItem", true)
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="height: 100%">
        @Html.Partial("HelpfulItem", true)
    </div>
</div>
